.hero {
    width: 100%;
    min-height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  
    background: #f5f5f7;
    animation: fadeIn 1.2s ease;
    border-radius: 10px;
  }
  
  .content {
    max-width: 900px;
    text-align: center;
    animation: floatUp 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  }
  
  /* TITLE */
  .title {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.1;
    color: #111;
    margin-bottom: 18px;
    letter-spacing: -1px;
  }
  
  .highlight {
    color: #0071e3; /* Apple Blue */
  }
  
  /* SUBTITLE */
  .subtitle {
    font-size: 1.25rem;
    color: #555;
    max-width: 600px;
    margin: 0 auto 30px auto;
    line-height: 1.55;
  }
  
  /* BUTTONS */
  .actions {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 10px;
  }
  
  /* Apple primary button */
  .primaryBtn {
    padding: 12px 26px;
    font-size: 1.05rem;
    font-weight: 600;
    background: #0071e3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .primaryBtn:hover {
    background: #005bbd;
    transform: translateY(-3px);
  }
  
  /* Apple transparent button */
  .secondaryBtn {
    padding: 12px 26px;
    font-size: 1.05rem;
    font-weight: 600;
    background: transparent;
    color: #0071e3;
    border: 2px solid #0071e3;
    border-radius: 10px;
    cursor: pointer;
  
    transition: all 0.3s ease;
  }
  
  .secondaryBtn:hover {
    background: #0071e3;
    color: white;
    transform: translateY(-3px);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .title {
      font-size: 2.5rem;
    }
    .subtitle {
      font-size: 1.1rem;
    }
  }
  
  /* Animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes floatUp {
    from { opacity: 0; transform: translateY(28px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
 
  
  /* Desktop */
  .desktop {
    display: block;
  }
  
  /* Mobile */
  .mobile {
    display: none;
  }
  
  /* Breakpoint */
  @media (max-width: 640px) {
    .desktop {
      display: none;
    }
  
    .mobile {
      display: block;
    }
  
  }
  
 